@import "../theme/default.scss";

.--fluent-checkbox-container {
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 3px solid $BaseMediumHigh;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 0;
    top: 7px;
  }


  &.--fluent-disabled {
    cursor: not-allowed;
    color: $BaseMediumLow;

    input[type=checkbox] {
      cursor: not-allowed;
      border: 3px solid $BaseMediumLow;
    }
  }


  &:not(.--fluent-disabled) {
    cursor: pointer;
    margin-left: -13px;

    &.--fluent-hover {
      input[type=checkbox] {
        border: 3px solid $BaseHigh;
      }
    }

    &:before {
      content: '';
      width: 10px;
      height: 4px;
      position: relative;
      top: -5px;
      left: 26px;
      border: 2px solid white;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      display: inline-block;
      z-index: 1;
    }

    &.--fluent-checkbox-checked {
      &:before {
        opacity: 1;
      }

      input[type=checkbox] {
        background: var(--fluent-accent-color);
        border: none;
      }
    }

    &.--fluent-click {
      input[type=checkbox] {
        background: $BaseMedium;
        border: none;
      }
    }
  }
}